body {
    font-family: sans-serif;
  }
  
  .choropleth {
    fill: white;
  }
  
  .dept-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  .departments {
    stroke: #ffffff;
    stroke-width: 0.25px;
  }
  
  
  div.tooltip {
    position: absolute;
    background: white;
    padding: 4px 8px;
    border: 1.75px black solid;
    font: 12px sans-serif;
    box-shadow: 2px 2px 4px gray;
    pointer-events: none;
  }

  
  .legend-rect {
    stroke: black;
    stroke-width: 0.1;
  }

  .button {
    background-color: #69b3a2; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    margin: 5px; /* Margin between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}

.button:hover {
    background-color: #4caf50; /* Darker color on hover */
}